@{
    string action = ViewContext.RouteData?.Values["action"]?.ToString() ?? "";
    string area = ViewContext.RouteData?.Values["area"]?.ToString() ?? "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha-long-hash_code" crossorigin="anonymous">

</head>
<body>
    <div class="container">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark p-3 mb-4">
            <a class="navbar-brand" asp-action="Index">My Website</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link 
                       @(action == "Index" && area == "" ? "active" : "")"
                       asp-action="Index" asp-controller="Home" asp-area="">Home</a>
                    <a class="nav-item nav-link 
                       @(action == "About" ? "active" : "" )"
                       asp-action="About" asp-controller="Home" asp-area="">About</a>
                    <a class="nav-item nav-link 
                       @(action == "Contact" ? "active" : "" )"
                       asp-action="Contact" asp-controller="Home" asp-area="">Contact</a>
                    <a class="nav-item nav-link
                    @(action == "StudentProfile" ? "active" : "")"
                    asp-action="StudentProfile" asp-controller="Home" asp-area="">Student Profile</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a class="nav-item nav-link 
                       @(area == "Help" ? "active" : "" )"
                       asp-action="Index" asp-controller="Home" asp-area="Help">Help</a>
                </div>
            </nav>
        </nav>

        <header class="mb-2">
            @RenderSection("header")
        </header>

        <main role="main">
            @RenderBody()
        </main>

    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
            const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
        });
    </script>
</body>
</html>
